{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Candidature pour les postes{% endblock %}

{% block body %}
<div class="w-full max-w-xs">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
            {{form(form)}}
        </div>
    </form>
</div>

{% endblock %}