{% extends 'base.html.twig' %}

{% block title %}Hello EquipeController!{% endblock %}

{% block body %}
<div class="w-full max-w-xs">
    <div class="mb-4">
        {{form(form)}}
    </div>
</div>
{% endblock %}